<section id="about">
  <div class="container">
    <div class="avatar">
      <img class="img-circle" src="{{ site.baseurl }}/static/img/{{ site.avatar }}" alt="Responsive image">
    </div>
    <div class="text">
      <h3>I'm <strong>{{ site.author }}</strong>, a Full Stack Software Consultant.</h3>
      <h3>
        I work on interesting projects with the very smart people at
        <a href="https://hashrocket.com" target="_blank">Hashrocket</a>.
      </h3>
      <h3>Have a look at some of my <a href="{{ site.baseurl }}/projects.html">open source projects</a>.</h3>
      <h3>Contact me at <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>.</h3>
      {% include social.html %}
    </div>
  </div>
</section>
