<section id="projects">
  <div class="container">
    <h3>Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-github"></i>
          <strong><a href="https://github.com/dkarter/bullets.vim">Bullets.vim</a></strong>
          A vim plugin for automated bullet lists.
        </h5>
        <h5>
          <i class="fa fa-github"></i>
          <strong><a href="https://github.com/dkarter/failspell">FailSpell</a></strong>
          Speed up your TDD workflow with FailSpell the RSpec failure re-runner.
        </h5>
        <h5>
          <i class="fa fa-github"></i>
          <strong><a href="https://github.com/dkarter/PasteurClient">Pasteur for OS X</a></strong>
          OS X menu bar application for sharing system clipboard between macs,
          securely, via WebSockets
        </h5>
        <h5>
          <i class="fa fa-github"></i>
          <strong><a
              href="https://github.com/dkarter/NetflixScraperAPI">NetflixScraperAPI</a></strong>
          An allowing you to search netflix for movie titles, actors etc.
        </h5>
        <h5>
          <i class="fa fa-github"></i>
          <strong><a href="https://github.com/dkarter/AlfredNetflixSearchWorkflow">Alfred Netflix Search Workflow</a></strong>
          A workflow for Alfred on OS X for searching and launching Netflix
          using the NetflixScraperAPI
        </h5>
      </div>
    </div>
  </div>
</section>
