<section id="talks">
  <div class="container">
    <h3>Talks</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <strong><a href="https://speakerdeck.com/dkarter/introduction-to-elm" target="_blank">Intro to Elm</a></strong>
        </h5>
        Talk I gave at Hashrocket MiniConf on Dec 4, 2015.

        <h5>
          <strong><a href="https://speakerdeck.com/dkarter/build-your-first-vim-plugin" target="_blank">Build Your First Vim Plugin</a></strong>
        </h5>
        Talk I gave at Vim Chicago meetup about getting started with VimScript
        and building your first Vim Plugin

        <h5>
          <strong><a href="https://speakerdeck.com/dkarter/integration-testing-with-page-objects" target="_blank">Integration Testing with Page Objects</a></strong>
        </h5>
        Talk I gave at WindyCityRails about using the Page Objects design
        pattern in RSpec &amp; Capybara integration tests

        <h5>
          <strong><a href="https://speakerdeck.com/dkarter/versioning-apis-in-phoenix" target="_blank">Versioning APIs in Phoenix</a></strong>
        </h5>
        Talk I gave on 01/25/2017 in the <a href="https://meetup.com/ChicagoElixir/" target="_blank">ChicagoElixir</a> meetup <a href="https://twitter.com/ChicagoElixir">@ChicagoElixir</a>
      </div>
    </div>
  </div>
</section>
