.footer {
  text-decoration: none !important;
}

.text-muted {
  color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}
/* Set the fixed height of the footer here */
/*.footer {
height: 50px;
padding-bottom: 15px;

}*/
