.navbar-static-top {
  margin-bottom: 10px;
}

.navbar-default {
  background-color: $background-color;
  border-color: $background-color;

  .navbar-brand {
    color: $muted-text-color;

    &:hover,
    &:focus {
      color: $muted-text-color;
    }
  }

  .navbar-text {
    color: $muted-text-color;
  }

  .navbar-nav {
    > li > a {
      color: $muted-text-color;
    }

    &:hover,
    &:focus {
      color: $muted-text-color;
    }

    > .active > a
    > .active > a:hover,
    > .active > a:focus {
      color: $muted-text-color;
      background-color: $background-color;
    }

    > .open > a,
    > .open > a:hover,
    > .open > a:focus {
      color: $muted-text-color;
      background-color: $background-color;


      @media (max-width: 767px) {
        .dropdown-menu > li > a {
          color: $muted-text-color;
        }

        .dropdown-menu  {
          > li > a:hover,
          > li > a:focus {
            color: $muted-text-color;
          }


          > .active > a,
          > .active > a:hover,
          > .active > a:focus {
            color: $muted-text-color;
            background-color: $background-color;
          }
        }

      }
    }
  }


  .navbar-toggle {
    border-color: $background-color;

    &:hover,
    &:focus {
      background-color: $background-color;
    }

    .icon-bar {
      background-color: $muted-text-color;
    }
  }


  .navbar-collapse,
  .navbar-form {
    border-color: $muted-text-color;
  }

  .navbar-link {
    color: $muted-text-color;

    &:hover {
      color: $muted-text-color;
    }
  }

}

